<!-- <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Event Planner/Time Table</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="my-bg">
  <ion-card class="full-width" no-margin margin-bottom>
    <div class="calendar-header">
      <ion-row class="calendar-month">
        <ion-col col-2 (click)="goToLastMonth()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-col>
        <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
        <ion-col col-2 (click)="goToNextMonth()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <div class="calendar-body">
      <ion-grid>
        <ion-row class="calendar-weekday">
          <ion-col>Su</ion-col>
          <ion-col>Mo</ion-col>
          <ion-col>Tu</ion-col>
          <ion-col>We</ion-col>
          <ion-col>Th</ion-col>
          <ion-col>Fr</ion-col>
          <ion-col>Sa</ion-col>
        </ion-row>
        <ion-row class="calendar-date">
          <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
          <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
            <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
            <ng-template #otherDate class="otherDate">
              {{day}}<br>
              <div class="event-bullet" *ngIf="checkEvent(day)"></div>
            </ng-template>
          </ion-col>
          <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="selected-event" *ngIf="isSelected">
      <ion-list>
        <ion-item *ngFor="let se of selectedEvent">
          <ion-buttons end>
            <button ion-button clear icon-only (click)="deleteEvent(se)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-buttons>
          <h2>{{se.title}}</h2>
          <h3>{{se.message}}</h3>
          <p>Start Date: {{se.startDate}}<br>
            Start Date: {{se.endDate}}</p>
        </ion-item>
      </ion-list>
    </div>
    <button ion-button (click)="loadEvents()">Load Events</button>
    <div>{{eventList}}</div>
  </ion-card>
</ion-content>
 -->

<ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
  <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
    <ion-item *ngFor="let event of selectedDate?.events" (click)="eventSelected(event)" text-wrap>
      <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
        <span id="start-date" class="text-primary">{{event.startTime|date: 'HH:mm a'}}</span> to <span id="end-date" class="text-primary">{{event.endTime|date: 'HH:mm a'}}</span>
      </span>
      <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">{{allDayLabel}} </span>
      <span class="event-detail"> - {{event.title}} </span>
    </ion-item>
    <ion-item *ngIf="selectedDate?.events.length==0">
      <div class="no-events-label">{{noEventsLabel}}</div>
    </ion-item>
  </ion-list>
</ng-template>

<ng-template #template2 let-view="view" let-row="row" let-col="col">
  {{view.title}}
</ng-template>

<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{viewTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="isToday" (click)="today()">Today</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="has-header">
  <ion-row ion-content>
    <ion-col col-9>
      <!-- <button style="float: left;" ion-button small (click)="addEvent()">LOAD EVENTS</button> -->
    </ion-col>
    <ion-col col-3>
      <ion-select [(ngModel)]="calendar.mode" style="max-width: 100%">
        <ion-option (ionSelect)="onOptionSelected($event)" *ngFor="let mode of calendarModes" [value]="mode.key">{{mode.value}}
        </ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <!-- [markDisabled]="markDisabled" -->
  <calendar 
  [monthviewEventDetailTemplate]="template" [monthviewInactiveDisplayEventTemplate]="template2"
  [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
   (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
   (onTimeSelected)="onTimeSelected($event)" [formatDayTitle]="'MMM dd, yyyy'" [formatMonthTitle]="'MMMM yyyy'" 
   [formatWeekTitle]="'MMMM, w'" step="20">
  </calendar>
</ion-content>