<ion-menu side="left" id="authenticated" [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">

      <ion-grid>
        <ion-row>
          <ion-col class="menuimage" col-12>
              <div class="user-image">
                <img *ngIf="!loggedUser?.parent.imageUrl" src="assets/img/avatar.jpeg">
                <img *ngIf="loggedUser?.parent.imageUrl" src="{{loggedUser?.parent.imageUrl}}">
              </div>
          </ion-col>
          <ion-col padding-top col-12>
            <h4 ion-text class="no-margin menuname text-white">
              {{loggedUser?.username}}
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">

    <ion-list class="user-list">

      <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
        <span ion-text color="">{{menuItem.title | uppercase}}</span>
        <ion-note style="margin-left: : 10px;" *ngIf="menuItem.title === 'Select Class' && selectedClassName"><br>{{selectedClassName}}</ion-note>
      </button>

      <button ion-item menuClose class="text-1x" (click)="goToInbox()">
        <ion-icon item-left name="mail-open" color="primary"></ion-icon>
        <span ion-text color="">{{"inbox" | uppercase}}</span>
      </button>
      

      <button ion-item menuClose class="text-1x" (click)="logout()">
        <ion-icon item-left color="primary" name="log-out"></ion-icon>
        <span ion-text color="">{{"log out" | uppercase}}</span>
      </button>

    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
