<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedStudent?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="animated fadeIn common-bg">
  <ion-card *ngIf="!allAssigns?.length" margin>
    <ion-item>
      <div class="text-sm">
        <span>{{"no data found" | uppercase}}</span>
      </div>
    </ion-item>
  </ion-card>  

  <ion-card *ngFor="let item of allAssigns" (click)="getAssignment(item)" tappable>
    <ion-list>
      <ion-item>
        <div class="header-title">
          <span>{{item.title}}</span>
        </div>
        <div class="datenote m-t-10">
          <!-- <ion-note item-end> -->
            <span class="text-sm">{{item.submissionDate | date:'fullDate'}}</span>
          <!-- </ion-note> -->
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>