<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons right>
      <button ion-button icon-only (click)="presentProfileModal()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{selectedStudent?.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="common-bg">
  <ion-card padding>
    <ion-row>
      <ion-col col-2>
        <ion-icon name='trophy' class="text-2x icon-trophy"></ion-icon>
      </ion-col>
      <ion-col col-9>
        <div class="header-title-alt">
          <span class="rating-tag" style="color: green !important;" *ngIf="rating == 4">{{"Outstanding" | uppercase}}</span>
          <span class="rating-tag" style="color: orange !important;" *ngIf="rating == 3">{{"Excellent" | uppercase}}</span>
          <span class="rating-tag" style="color: red !important;" *ngIf="rating == 2">{{"Poor" | uppercase}}</span>
          <span class="rating-tag" style="color: red !important;" *ngIf="rating == 1">{{"Bad" | uppercase}}</span>
        </div>
        <div class="rating-box-single">
          <rating readOnly="true" [(ngModel)]="rating" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
        </div>
      </ion-col>
    </ion-row>
    <hr>
    <div class="box-performance-new">
      <form [formGroup]='performanceForm' (ngSubmit)="submitPeformance(performanceForm.value)">
        <div class="rating-box">
          <span id="name">Response
          </span>
          <rating formControlName="response" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
        </div>
        <div class="rating-box">
          <span id="name">Reading
          </span>
          <rating formControlName="reading" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
        </div>
        <div class="rating-box">
          <span id="name">Writing
          </span>
          <rating formControlName="writing" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
        </div>
        <div class="rating-box">
          <span id="name">Listening
          </span>
          <rating formControlName="listening" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
        </div>
        <div class="rating-box">
          <span id="name">Speaking
          </span>
          <rating formControlName="speaking" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
        </div>
      </form>
    </div>
  </ion-card>
</ion-content>
